.device-card {
  border: 1px solid #ddd;
  border-radius: 15px;
  width: 50%;
  max-width: 600px;
  margin: 20px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.device-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.device-header {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

.device-info {
  margin: 10px 0;
  color: #666;
  font-size: 16px;
}

.device-info span {
  font-weight: bold;
}

.current-info {
  color: #007bff; /* Blue for current */
}

.vc-info {
  color: #28a745; /* Green for V_C value */
}

.state-info {
  color: #35b2dc; /* Blue for current state */
}

.delete-button {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  font-size: 16px;
}

.delete-button:hover {
  background-color: #c82333;
  transform: scale(1.05);
}

.search-input {
  width: 50%;
  padding: 12px 20px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 25px;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.search-input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 4px 8px rgba(0, 123, 255, 0.2);
}
