/* In MQTTComponent.css */
.parent-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background: linear-gradient(to right, #ff7e5f, #feb47b); /* Example gradient */
  min-height: 100vh;
  box-sizing: border-box;
}

h1 {
  font-size: 2em;
  color: #333;
  margin-bottom: 20px;
}

.search-input {
  width: 50%;
  max-width: 500px;
  padding: 12px 20px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 25px;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.search-input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 4px 8px rgba(0, 123, 255, 0.2);
}
